:root {
    --font-heading-family: "Marcellus", serif;
    --font-heading-style: normal;
    --font-heading-weight: 400;
    --font-heading-scale: 1;
    --font-h1-size: clamp(38px, calc(70 / 1920 * 100vw), 70px);
    --font-h2-size: clamp(28px, calc(60 / 1920 * 100vw), 60px);
    --font-h3-size: clamp(25px, calc(40 / 1920 * 100vw), 40px);
    --font-h4-size: clamp(22px, calc(40 / 1920 * 100vw), 30px);
    --font-h5-size: 24px;
    --font-h6-size: 20px;
    --font-body-family: "Mulish", sans-serif;
    --font-body-style: normal;
    --font-body-weight: 700;
    --font-body-weight-bold: 1000;
    --font-body-scale: 1;
    --font-base-size: 16px;
    --font-additional-family: Nunito, sans-serif;
    
    --primary-color: #f9ab38;
    --secondary-color: #052C05E7;
    --tertiary-color: rgba(221,114,16,0.1);
    --star-color: var(--primary-color);
    --write-review-text-color: white;
    --write-review-bg-color: var(--primary-color);
    --paginate-color: var(--primary-color);
    --border-radius: 0;
    --reviewer-name-color: var(--primary-color);

    --white-color: #FFF;
    --grey-100: #f6f3f4;
}

*, *::before, *::after {
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}

body {
  font-family: var(--font-body-family);
}

h1, h2, h3 {
  font-family: var(--font-heading-family);
}

h1 {
    font-size: var(--font-h1-size);
    font-weight: var(--font-heading-weight);
    font-style: var(--font-heading-style);
}

h2 {
    font-size: var(--font-h2-size);
    font-weight: var(--font-heading-weight);
    font-style: var(--font-heading-style);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

.search-input {
    padding: 8px 12px;
    border: 1px solid var(--color-gray-50);
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    color: var(--white-color);

    &::placeholder {
        color: var(--white-color);
    }

    &:focus {
        border-color: var(--primary-color);
    }
}

header li a:hover {
    color: var(--primary-color);
}

.header-action:hover {
    color: var(--primary-color);
}

.cart-badge {
    background-color: var(--primary-color);
}

.logo {
    font-family: 'Marcellus', serif;
}

.hero-wrapper {
    height: 100vh;
}

.hero-wrapper header {
    background: transparent;
}

.btn {
    border: none;
    padding: 10px 30px;
    text-transform: capitalize;
    font-weight: 600;
}

.btn-primary {
    background-color: var(--primary-color);
    color: var(--color-black);
}

.section-label {
    color: var(--primary-color);
    font-size: var(--text-sm);
    font-weight: var(--font-medium);
    letter-spacing: var(--tracking-widest);
    line-height: var(--tw-leading, var(--text-sm--line-height)); 
    margin-bottom: calc(var(--spacing) * 4);
    text-transform: uppercase;
}

.secondary-text {
    color: var(--secondary-color);
}

.primary-text, .hover-primary-text:hover {
    color: var(--primary-color);
}

.bg-primary {
    background-color: var(--primary-color);
}

.page-hero {
    background: linear-gradient(rgb(0,0,0,0.6), rgb(0,0,0,0.6)), url('/src/assets/images/hero/main.png') no-repeat center center/cover;
}

.shopPage-hero {
    background: linear-gradient(rgb(0,0,0,0.6), rgb(0,0,0,0.6)), url('/src/assets/images/hero/main2.png') no-repeat center center/cover;
}

@media (max-width: 768px) {

    .hero-wrapper {
        height: 120vh;
    }

    .container {
        padding: 0 10px;
    }

    section {
        padding: auto;
    }

    h2 {
        font-size: 30px;
    }

    header {
        padding: 10px !important;
    }

    p {
        font-size: 14px !important;
    }

    .testimonial-card {
        width: 100% !important;
    }
}